$green-color: #70e170;
$red-color: #c05353;

form {
  color: white;
  width: 50%;
  margin: auto;
}

.fileUploadInput {
  display: grid;
  grid-gap: 10px;
  position: relative;
  z-index: 1;
  width: 100%;

  label {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    color: setColor(primary, 0.5);
    background: setColor(white);
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    font-family: arial, sans-serif;
    font-size: 1em;
    font-weight: regular;
  }

  input {
    position: relative;
    z-index: 1;
    padding: 0 gap(m);
    width: 100%;
    height: 50px;
    border: 1px solid $green-color;
    border-radius: 3px;
    font-family: arial, sans-serif;
    font-size: 0.75rem;
    font-weight: regular;

    &[type="file"] {
      padding: 0 gap(m);
    }
    &[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
        margin-left: 10px;
        padding: 0;
        height: 50px;
        width: 0px;
     }
  }

  button {
    position: absolute;
    right: 0;
    bottom: 2px;
    height: 47px;
    width: auto;
    line-height: 0;
    -webkit-user-select: none;
      -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: white;
    background-color: $green-color;
    border: none;
    font-family: arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 20px;
    z-index: 10;
  }
}

.fileRemove button {
  height: 50px;
  width: auto;
  line-height: 0;
  color: white;
  background-color: $red-color;
  border: none;
  font-family: arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 20px;
}

@-moz-document url-prefix() {
  .fileUploadInput button {
    display: none;
  }
}

.corrupt-file {
  color: white;
  font-size: 14px;
  text-align: center;
  margin-bottom: 50px;
}