.app {
  text-align: center;
}

.app-logo {
  height: 100px;
  pointer-events: none;
}

.app-header {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px 0;
}

.app-link {
  color: #61dafb;
}

.app-body {
  min-height: calc(100vh - 200px);
}

.app-footer {
  color: white;
}